* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del nav */
nav {
    background-color: #FFC063;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

/* Logo "Adopet" */
.adopet {
    color: #9A6211;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

/* Contenedor de navegación */
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Menú de navegación */
.nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Enlaces del menú */
.boton-navegacion {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.boton-navegacion:hover,
.boton-navegacion:focus {
    color: #9A6211;
}

/* Botón de registro */
.boton-registrar {
    margin: 0;
    font-size: 14px;
    border-radius: 12px;
    background-color: white;
    color: #FFC063;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.boton-registrar:hover {
    background-color: #c79b44;
    color: white;
}

/* Estilos portada*/

.portada {
    position: relative;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.portada img {
    width: auto;
    height: auto;
    display: block;
}

.contenido.portada {
    
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 1rem;
    border-radius: 8px;
}

.contenido.portada h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.contenido.portada p {
    font-size: 1.2em;
    color: white;
    margin: 10px 0;
}

.contenido.portada button {
    background-color: #8c6d4f;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenido.portada button:hover {
    background-color: #6b4f3a;
}





/* Estilos servicios*/

.servicios {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.cards-servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

h2 {
    font-size: 64px;
    margin-bottom: 29px;
    font-weight: bold;
    color: #333;
}

.card {
    background: #52A9F0;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 25px;
    width: 320px;
}


.card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card h4 {
    font-family: "Intro black";
    font-size: 40px;
    margin-top: 21px;
    font-weight: bold;
    color: #ffffff;
}

.card-text {
    font-family: "Intro regular";
    font-size: 24px;
    margin-top: 12px;
    color: #ffffff;
}

/* Estilos vision*/

.vision {
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  display: flex;
  
}

.vision img {
  width: auto;
  height: auto;
  display: block;
}

.vision div {
  position: absolute;
  top: 10%;
  left: 28%;
  padding: 1rem;
  border-radius: 8px;
}

.vision .titulo-seccion {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.vision .vision-text {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  max-width: 600px;
}

/* Estilos mision*/

.mision {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: #ffffff;
}

.mision-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    gap: 12px;
    
}

.contenido-mision {
    max-width: 600px;
    margin-top: 20px;
}

.titulo-seccion {
    font-size: 64px;
    font-family: "Intro Bold",sans-serif;
    font-weight: bold;
    color: #353535;
    margin-bottom: 15px;
}

.mision-text {
    padding-left: 20px;
    
    font-family: "Intro regular",sans-serif;
    font-size: 28px;
    color: #353535;
    margin-bottom: 20px;
}

button {
    background-color: #74A97C;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}


/* Estilos footer */

footer {
    background-color: #FFC063;
    color: #5C3B09;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    font-family: "Intro", sans-serif;
}

footer div {
    max-width: 250px;
    margin: 10px;
}

.titulo-footer {
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

footer p {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    font-family: "Montserrat",sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}

footer img {
    margin-right: 0;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

footer img:hover {
    transform: scale(1.1);
}
